.main {
  margin: 2%;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 20%;
  background-color: white;
  margin-bottom: 2%;
  border-radius: 5px;
  border: 1px solid white;
}

.info {
  width: 75%;
  border-radius: 5px;
}
