.tags {
  display: flex;
  flex-wrap: wrap;
}
.tag {
  display: inline;
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 2%;
}

.image {
  display: inline;
  width: 100%;
}

.textMain {
  text-align: center;
  width: 80%;
  margin: auto;

  .subtitle {
    color: gray;
  }
}
