.tag {
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
}

.image {
  display: inline;
  width: 100%;
}

.textMain {
  text-align: center;
  width: 80%;
  margin: auto;

  .subtitle {
    color: gray;
  }
}
